@font-face {
    font-family: 'supernatural_knightregular';
    src: url('font/supernatural_knight-webfont.woff2') format('woff2'),
         url('font/supernatural_knight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.title{
    color: #FAA307;
    font-family: 'supernatural_knightregular';
    font-size: 4vmax;
}
#letter-e{
    color: #9D0208; 
}


.main{
    text-align: center;
    margin-top: 100px;
}
.container{
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 27.734vh;
    width: 68.3vw;
    

}
.item-img{
    height: auto;
    width: 21.86vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

}
#first{
    background-image: url(img/img1.jpg);
}
#second{
    background-image: url(img/img2.jpg);
}
#third{
    background-image: url(img/img3.jpg);
}
.move{
    text-align: center;
}
.move-btn{
    width: 110px;
    padding: 7px;
    font-size: 20px;
    margin-top: 2%;  
    background-color: #9D0208;
    color: black;
    border: 2px solid #FAA307;
    border-radius: 10%;
    font-weight: bold;
}

.move-btn:hover{
    background-color: transparent;
    color:  #9D0208;

}

@media screen and (min-width:1000px) {
    .item-img{
        height: auto;
        width: 21.86vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

       
        
    
    }
}
